.skill{
    margin-top: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to top right, #1a2e50, #1a2e35);
    color:white;
}

.skill-container{
    display:flex;
    flex-direction: column;

}

.skill-container-header{
    text-align: center;
}

.skill-container div{
    padding:2%;
}


.divs{
    border-right: 2px solid white;
}

.skills{
    border:solid white 1px;
    padding: 5px;
    margin:5px;
    border-radius: 5px;
}