.skill{
    margin-top: 5%;
    background-color: #1a2e35;
    color:white;
}

.skill-container{
    display:flex;

}

.skill-container div{
    padding:2%;
}

.divs{
    border-right: 2px solid white;
}