.footer{
    padding-top: 10%;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container svg{
    padding:7%;
}

.footer-social{
    display: flex;
}

.footer-social h6{
    display: flex;
    justify-content: space-around;
}

.footer-body{
    display: flex;
}

.footer-body img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.footer-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
